.wheel {
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  background: radial-gradient(white 40%, transparent 40.0001%), conic-gradient(#FF5722 0% 33.3%, #FFEB3B 33.3% 66.6%, #2196F3 66.6% 100%);

}

