
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'New York Small';
  src: local('New York Small Regular'), local('NewYorkSmall-Regular'),
      url('/fonts/subset-NewYorkSmall-Regular.woff2') format('woff2'),
      url('/fonts/subset-NewYorkSmall-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

p, li, h1, h2, dl {
  font-family: 'New York Small';
}

p {
  margin-top: 10px;
  margin-bottom: 20px;
}

:global(#app) {
  height: 100%;
  max-width: 374px;
  max-height: 812px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select:none;
  -webkit-touch-callout: none;
  @media (min-width: 500px) {

user-select:none;
    &:after {
      z-index: 30;
      content: '';
      display: block;
      position: absolute;
      width: 440px;
      height: 880px;
      background: url(./iphone.png) no-repeat center;
      background-size: 100% 100%;
      pointer-events: none;;
    }
  }
}
html {
  height: 100%;
}
/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* Now, let's apply it on an element */
body {
  font-family: "system";
}
body, html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.wrapper {
  height: 100%;
}

.app {
  height: 100%;
}

:global(.icon) {
  display: inline-block;
  margin: -5px 0;
}

a {
  text-decoration: none;
  color: #829356
}

button {
  padding: 5px 10px;
  border: 1px solid #999;
  border-radius: 5px;
  color: #000;
}